engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
node-linker=isolated
prefer-frozen-lockfile=true
fund=false
audit=false
loglevel=warn
